<!DOCTYPE html>
<html>
  <head>
    <title>browser-phone</title>
    <script src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <!-- <link rel="stylesheet" href="//static0.twilio.com/packages/quickstart/client.css"> -->
    <script src="/js/browserPhone.js" type="text/javascript"></script>
  </head>
  <body>
    <h1></h1>
    <button id="call" class="call">Call</button>
    <button id="hangup" class="hangup">Hangup</button>
    <input type="text" id="number" name="number" placeholder="phone number to call"/>
    <div id="log">Loading pigeons...</div>
  </body>
</html>