<!DOCTYPE html>
<html>
  <head>
    <title>TEST</title>
    <!-- <link rel="stylesheet" href="/css/wp-style.css"> -->
    <script src="http://54.65.140.79:3000/socket.io/socket.io.js"></script>
    <script>
      'use strict';

      window.onload=function(){
        var socket = io.connect('http://54.65.140.79:3000');
        socket.on('connect', function () {
          console.log('connected!');
        });
      }
    </script>
  </head>
  <body>
    <h1></h1>
    <p>Welcome to Express</p>
    <p>swig templeta</p>
  </body>
</html>